transformers
datasets
peft
safetensors
peft -i git+https://github.com/huggingface/peft.git
torch
scipy
scikit-learn
bitsandbytes -i https://test.pypi.org/simple
accelerate
trl
fire
fastapi
uvicorn[standard]